<ul>
  {{#each favorites.questions as |question index|}}
    <li>{{#link-to 'question' question.id}}{{question.inquiry}}{{/link-to}}</li>
    <button {{action 'removeFromFavorites' index}}>Remove</button>
  {{/each}}
</ul>
